<!DOCTYPE root[<!ELEMENT youtubePage ANY>
<!ATTLIST youtubePage id ID #REQUIRED>
<!ELEMENT blogcontainer ANY>
<!ATTLIST blogcontainer id ID #REQUIRED>
<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1064" key="ac32cb28-777b-454f-a531-e03c0625c196" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-01-24T01:59:46" updateDate="2019-01-24T12:00:32" nodeName="Dashboard Page" urlName="dashboard-page" path="-1,1064" isDoc="" nodeType="1063" creatorName="Miguel Ferreira" writerName="Miguel Ferreira" writerID="0" template="1062" nodeTypeAlias="homePage" isPublished="true">
    <title><![CDATA[Dashboard Title I put there]]></title>
    <square1Title><![CDATA[Idk issa Title]]></square1Title>
    <rightText><![CDATA[Ines]]></rightText>
    <blogPost id="1072" key="bcd3ba9a-a492-42ef-b05b-1d64b22294bc" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2019-01-24T15:44:31" updateDate="2019-01-24T16:18:18" nodeName="Post One" urlName="post-one" path="-1,1064,1072" isDoc="" nodeType="1071" creatorName="Miguel Ferreira" writerName="Miguel Ferreira" writerID="0" template="1070" nodeTypeAlias="blogPost" isPublished="true">
      <title><![CDATA[Title]]></title>
      <article><![CDATA[<p>Post content</p>]]></article>
      <nested><![CDATA[[{"key":"708a6785-5d96-4727-818a-57824a9c2680","name":"Item 1","ncContentTypeAlias":"blogPost","title":"Blog post neste","article":"<p>content for the nested content whatever</p>"}]]]></nested>
    </blogPost>
    <youtubePage id="1080" key="5a5ead8f-006b-4549-8805-96836ce203b1" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2019-01-27T22:24:27" updateDate="2019-01-27T22:24:27" nodeName="Playlist Code" urlName="playlist-code" path="-1,1064,1080" isDoc="" nodeType="1079" creatorName="Miguel Ferreira" writerName="Miguel Ferreira" writerID="0" template="1078" nodeTypeAlias="youtubePage" isPublished="false" />
  </homePage>
  <blogcontainer id="1076" key="46e030ff-ce6b-44ed-977d-c18cbf4e9425" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-01-24T16:42:00" updateDate="2019-01-24T16:42:00" nodeName="Container" urlName="container" path="-1,1076" isDoc="" nodeType="1075" creatorName="Miguel Ferreira" writerName="Miguel Ferreira" writerID="0" template="1074" nodeTypeAlias="blogcontainer" isPublished="true" />
</root>