@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Blogcontainer>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}


@{
var selection = Model.Content.Site().FirstChild("blogPost").Children("blogPost")
						.Where(x => x.IsVisible());
}

<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

