@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
        
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>@Umbraco.Field("rightText")</b> 1.0
            </div>
            <strong>@Umbraco.Field("leftText")<a href="@Umbraco.Field("link")">Givskud Zoo</a>.</strong> All rights
            reserved.
        </footer>
